:root {
    --primary-color: #055a05; /*forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --align-text-center: center;
    --white-color: #fff;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-align: var(--align-text-center);
    color: var(--white-color);    
}

nav, p, article {
    margin: 16px;
    padding: 8px;    
}

section {
    margin: 16px 0 0;
    padding: 16px 0 0;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    
}

article {
    position: absolute;
    top: 400px;
    background-color: var(--accent2-color);

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--white-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid gold;
    box-shadow: 0 0 10px gray;
    margin: 0 0 1rem 1rem;
}