:root {
    --primary-color: #fff;  /* white color */
    --accent1-color: #264653; /* dark slate blue */
    --box-shadow-color: #808080;
    --background-color: #DCDCDC;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --align-text-center: center;
    --margin: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

/* header  */
.about-header, .contact-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    justify-content: space-around;
}

.index-container {
    background-image: url("../images/rafting27_1024.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.index-header {
    display: grid;
    width: 100%;
    height: auto;
}

.index-header .nav-index ul li {
    align-content: center;
}

.nav-index ul li a {
    font-size: 2rem;
    text-align: center;
}

.img-logo {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 120px;
    height: auto;
    border-radius: 100%;
}

.index-logo {
    width: 80px;
}

#logo {
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: 600;
    margin-top: 8.5rem;
    font-size: 1.2rem;
}

.home-logo { 
   float: left; 
   font-weight: 700;
}

.logo {
    font-size: 1.2rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    gap: 1rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: .2rem;
    color: var(--accent1-color);
}

a:hover {
    color: darkblue;
}

.about-header, .contact-header, main, footer {
    width: 840px;
    margin: 0 auto;
    font-family: var(--heading-font);
}

.about-h1, h2, h3 , .contact-h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: var(--align-text-center);
}

.map-h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.contact-h3, h3 {
    font-size: 2rem;
}

nav, p, article {
    margin: var(--margin);
    padding: 1px;
    font-size: 16px; 
}

.grid-history {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-content: center;
    align-self: center;
}

.img-history {
     width: 200px;
     height: auto;
    place-self: center;
} 

section {
    margin: 16px 0 0;
    padding: 16px 0 0;
}

.socialmedia {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    max-width: 25px;
    height: auto;
}

article {
    position: absolute;
    top: 380px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    opacity: 0.7;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.about-h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 3px solid var(--gold-color);
    box-shadow: 0 0 30px var(--box-shadow-color);
    margin: var(--margin);
}

.figcaption-div {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    background-color:  #e0e0e0;
    margin: 0 0 1rem;
    width: 840px;
    padding: 1rem;
    border: 1px solid #264653;
}

.table-container {
    display: grid;
    width: 840px;
    margin: 4rem 0;
}

table {
    padding: 1rem;
    border: 2px solid rgb(140 140 140);
    border-collapse: collapse;
}

.t-head-1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1.2rem;
    color: #fff;
    text-decoration: underline;
}

.t-head-2 th {
    font-size: 1.6rem;
    font-family: "Roboto";
    color: #fff;
}

.t-month th {
    font-size: 2rem;
}

thead tr th, tfoot tr th {
    text-align: center;
    padding: 0.8rem;
    letter-spacing: 0.1rem;
}

.color-1,  .color-2  {
    background-color: #e5f8e5;

}

tbody tr td {
    text-align: center;
    font-size: 1.5rem;
    color: #264653;
}

.t-head-1, tfoot {
    background-color: #000;
    opacity: 0.9;
}

.t-head-2 {
    background-color: #264653;
}

.t-month {
    color: #000080;
    background-color: #fae7ca;
}

thead tr {
    background-color: #1eace4;
    opacity: 0.9;
    font-size: 1.3rem;
    color: #fff;
}

tfoot tr th a {
    color: #fff;
    font-size: 1.5rem;
}

tfoot tr th a:hover {
    background-color: #006400;
    color: #fff;
}

.tfoot-info, .blank {
    font-size: 2rem;
    text-align: center;
    color: #264653;
    background-color: #fff;
}

.trip-section {
    background-color: #fff;
    border: none;
}
.trip-employee {
    background-color: #fff;
    box-shadow: 15px 10px 15px #264653;
    border: 1px solid #ff0000;
    border-radius: 10px;
}

.trip-video {
    width: 100%;
    height: 315px;
}

figure {
    margin-top: 1rem;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.figcaption-div img {
    width: 150px;
    height: auto;
}

figcaption {
    display: grid;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
}

.employee img {
    width: 250px;
    height: auto;
}

.caption {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 0.8rem;
}

 figure .icon {
max-width: 40px;
 }

footer {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid #808080;
    margin: 0 0 1rem;
}

footer, header {
    background-color: var(--background-color);
}

footer p {
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    font-weight: 600;
}

/* contact us  */
address {
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: -0.8rem;
}

.contact-h1 {
font-size: 2rem;
text-align: center;
margin: 1rem 0 1rem;
}

.index-h1 {
    font-size: 5rem;
    text-align: center;
    font-style: italic;
}

.index-rivers {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

section .index-form-layout {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 700;

}

.index-join-container {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 700;
}

.book {
    position: absolute;
    text-align: center;
    padding: 1.5rem;
    justify-self: center;
}

.index-h2 {
    font-size: 2.5rem;
    margin-bottom:  1.5rem;
}

.book-a {
   font-size: 3rem;
    color: #000;
   background-color: #fff;
   text-decoration: none;
   padding: .5rem;
   opacity: 0.9;
}

.index-h1, .index-h2 {
    color: #eee;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-index, .index-employee {
    width: 100%;
    display: grid;
}

.index-employee .memory-index {
    width: 400px;
}

form {
    padding: 1rem;
    margin-top: -1rem;
}

form h2, h4, .map h4{
    font-size: 2.5rem;
    text-align: left;
}

.map h4, h4 {
    font-size: 2.5rem;
    text-align: center;
}

.map-h4, .map-h5, .map-h6 {
    font-size: 2rem;
    text-align: center;
    padding: 0.8rem;
}
form p, .map p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
}

.map-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
    background-color: #eee;
}

.index-form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-self: center;
    background-color: #eee;
}

.index-form {
    display: grid;
    padding-left: 5rem;
}

.index-form-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.index-form .index-input {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5rem;
}

input {
    padding: .2rem;
    font-size: 1.2rem;
}

label {
    font-size: 2rem;
    display: inline-flex;
    grid-gap: 1rem;
}

.trip-label {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.index-section-layer {
    background-color: hsl(34, 44%, 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem;
    width: 100%;
}

.index-section-layer img {
    width: 840px;
    height: 400px;
    justify-content: center;
    margin-left: 10rem;
    opacity: 0.8;
}

.index-section-layer div {
    position: absolute;
    background-color: #264653;
    opacity: 0.9;
    padding: 1.5rem;
    float: right;
    left: 55rem;
    max-width: 840px;
}

.index-hp {
    font-size: 1.8rem;
}

.index-p {
    font-size: 1.2rem;
}

.index-hp, .index-p {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    margin-left: .3rem;
    width: 1.2rem;
}

.map iframe {
    width: 400px;
    height: 430px; 
}

.index-image {
    width: 400px;
    height: 400px; 
}

.trips-image {
    width: 350px;
    height: 400px; 
    border-radius: 100%;
}
form div {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    grid-gap: 5px;
}

form .radio-group {
    display: flex;
    flex-direction: column;
}

#message {
    margin: .5rem 0 auto;
    width: 400px;
    padding: .1rem;
    font-size: 1rem;
}

.checkedbox-row {
    font-size: 1.5rem;
    margin: 1rem auto;
    font-weight: 700;
}


#checkbox {
    width: 3rem;
    margin-left: 0;
}

button {
    display:  block;
    width: 400px;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 1.2rem;
    background-color: green;
    color: #fff;
}

.trip-list {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: .5rem; 
}

.trip-list ul {
    list-style: lower-roman;
    list-style-position: inside;
}

.trip-list ul li {
 font-size: 1.5rem;
    flex: 1;
    padding-bottom:5px;
    break-inside: auto;
}

.trip-list ul li::marker {
    color: #ff0000;
}

.trip-btn {
   width: 70%;
   padding: 0.8rem;
   border-radius: 50px;
}

.trip-btn a {
    font-size: 1.5rem;
   color: #fff;
   text-decoration: none; 
}

.trip-btn a:hover {
    color: #fff;
}

button:hover,
button:focus {
    background-color: navy;
    border-radius: 10px;
}

.touch-btn {
    width: 250px;
    font-size: 2rem;
}
.index-btn {
    text-align: center;
    margin-left: 20rem;
    color: #000;
    background-color: hsl(34, 44%, 80%);
    max-width: 10rem;
  }

  .index-btn:hover {
    background-color: #fff;
  }

  .index-footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;
    color: #000;
  }

  .index-social {
    gap: 2rem;
  }

 .index-footer a {
    color: #000;
    text-decoration: none;
 }

 .index-footer a:hover {
    color: navy;
 }

  .index-footer p {
    font-size: 2rem;
  }
  