:root {
    --primary-color: #fff;  /* white color */
    --accent1-color: #264653; /* dark slate blue */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --align-text-center: center;
    --margin: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
}
/* header  */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    justify-content: space-evenly;
}

.img-logo {
    grid-column-start: 1;
    grid-row-start: 1;
    height: auto;
}

#logo {
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: 600;
    margin-top: 7rem;
    font-size: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    gap: 1rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: .2rem;
    color: #0000ff;
}

a:hover {
    color: #ff0000;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    font-family: var(--heading-font);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: var(--align-text-center);
}

nav, p, article {
    margin: var(--margin);
    padding: 1px;
    font-size: 16px; 
}

.grid-history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 5px;
}

.img-history {
     width: 200px;
     height: auto;
     align-self: center;
} 

section {
    display: grid;
    margin: 16px 0 0;
    padding: 16px 0 0;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    max-width: 25px;
    height: auto;
}

article {
    position: absolute;
    top: 380px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    opacity: 0.7;

}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 3px solid gold;
    box-shadow: 0 0 30px grey;
    margin: var(--margin);
}

figure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.figcaption-div {
    display: grid;
    justify-content: center;
    margin-top: 1rem;
    padding: .3rem;
}

.figcaption-div img {
    width: 150px;
    height: auto;
}
figcaption {
    display: grid;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

footer, header {
    background-color: rgb(236, 232, 232);
}

footer p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 600;
}
