:root {
    --primary-color: #fff;  /* white color */
    --secondary-color: #055a05; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --align-text-center: center;
    --margin: 16px;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    font-family: var(--heading-font);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: var(--align-text-center);
    background-color: var(--accent1-color);

}

nav, p, article {
    margin: var(--margin);
    padding: 1px;
    font-size: 1.2rem;    

}

section {
    margin: 16px 0 0;
    padding: 16px 0 0;
}

.socialmedia a {
    text-decoration: none;
}

article {
    position: absolute;
    top: 380px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

.hero {
    position: relative;
}


.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 3px solid gold;
    box-shadow: 0 0 30px grey;
    margin: var(--margin);
}