:root {
    --primary-color: #fff;  /* white color */
    --accent1-color: #264653; /* dark slate blue */
    --box-shadow-color: #808080;
    --background-color: #DCDCDC;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --align-text-center: center;
    --margin: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
}
/* header  */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.img-logo {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100px;
    height: auto;
}

#logo {
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: 600;
    margin-top: 6rem;
    font-size: 1rem;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    gap: 1rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: .2rem;
    color: var(--accent1-color);
}

a:hover {
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    font-family: var(--heading-font);
}

.about-h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: var(--align-text-center);
}

nav, p, article {
    margin: var(--margin);
    padding: 1px;
    font-size: 16px; 
}

.grid-history {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-content: center;
    align-self: center;
}

.img-history {
     width: 180px;
     height: auto;
    place-self: center;
} 

section {
    margin: 16px 0 0;
    padding: 16px 0 0;
}

.socialmedia {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    max-width: 25px;
    height: auto;
}

article {
    position: absolute;
    top: 380px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    opacity: 0.7;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.about-h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 3px solid var(--gold-color);
    box-shadow: 0 0 30px var(--box-shadow-color);
    margin: var(--margin);
}

.figcaption-div {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: space-around;
    background-color:  #e0e0e0;
    margin: 0 0 1rem;
    width: 840px;
    padding: 1rem;
}

figure {
    margin-top: 1rem;
    padding: .3rem;
}

.figcaption-div img {
    width: 150px;
    height: auto;
}

figcaption {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.employee img {
    width: 150px;
    height: auto;
}

.caption {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid #808080;
    margin: 0 0 1rem;


}

footer, header {
    background-color: var(--background-color);
}

footer p {
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    font-weight: 600;
}


/* contact us  */
address {
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact-h1 {
font-size: 2rem;
text-align: center;

}

form {
    padding: .5rem;
}

.map-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
    background-color: #eee;
    padding: 0;

}

input {
    padding: .2rem;
    font-size: 1.2rem;

}

label {
    font-size: 1.5rem;
    display: inline-flex;
    grid-gap: 1rem;
}
 
.box {
    margin-left: .3rem;
}
.map iframe {
    width: 400px;
    height: 430px; 
}

form div {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    grid-gap: 5px;

}

form .radio-group {
    display: flex;
    flex-direction: column;
}

#message {
    margin: .5rem 0 auto;
    width: 400px;
    padding: .1rem;
    font-size: 1rem;

}

.checkedbox-row {
    font-size: 1.2rem;
    margin: 1rem auto;
}


button {
    display:  block;
    width: 400px;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 1.2rem;
    background-color: green;
    color: #fff;
}

button:hover,
button:focus {
    background-color: navy;
    border-radius: 10px;
}

