* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    padding: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    max-width: 500px;
    border: 2px solid gray;
    border-radius: 10px;

}
form {
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    grid-gap: .2rem;
    max-width: 450px;
    border: 1px solid rgba(2 1 2 / 20%);
    border-radius: 10px;
}

label, input, textarea, select, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .5rem;
    font-size: 1.1rem;
}

form div {
    background-color: #000;
    margin: 0 auto 1rem auto;
    width: 250px;
    color: #fff;
    padding: .9rem;
    font-size: 1rem;
}

button{
    background-color: darkgreen;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

button:hover,
button:focus {
    background-color: navy;
}
