* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
}

:root {
    --darkblue-color: darkblue;
    --white-color: #fff;
    --black-color: #000;
    --padding: 1rem;
    --margin: 1rem;
    --height: auto;
    --align-text-center: center;
    --border: 1px solid #000;
    --text-font-size: 1rem;
}
/* add  */
nav {
    padding: var(--padding);
    background-color:  steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* add  */
nav a {
    display: block;
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .1em;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}


h1 {
    color: var(--darkblue-color);
    padding: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 1.2rem;
}

p {
    margin: var(--margin);
    font-size: var(--text-font-size);
}

/* add  */
main {
    grid-column: 2/3;
    margin: 1rem;
}
    

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1em 1rem;
}
    
/* add  */
aside {
    width: 20rem;
    height: auto;
    text-align: var(--align-text-center);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}


aside h2 {
    position: absolute;
    top: 17px;
    left: 110px;
  }
  
aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: var(--align-text-center);
}

/* Class Selectors */

.box {
    margin: var(--margin);
    padding: var(--padding);
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: var(--black-color);
  }

.indent {
    padding-left: 2rem;
}

/* add  */
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: start;
    margin: 0 auto;
   
  }
    
  /* add  */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
  }

 


    
   
