:root {
    --darkblue-color: darkblue;
    --white-color: #fff;
    --padding: 1.5rem;
    --margin: 1.5rem;
    --height: auto;
    --align-text-center: center;
    --border: 1px solid #000;
    --text-font-size: 1.5rem;
}

nav {
    padding: var(--padding);
    background-color: var(--darkblue-color);
}

nav a {
    display: block;
    color: var(--white-color);
    padding: var(--padding);
    font-size: var(--text-font-size);
}

h1 {
    color: var(--darkblue-color);
}

p {
    padding: 0;
    font-size: var(--text-font-size);
}

main {
    max-width: 880px;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 5px;
    box-shadow: 0 0 30px gray;}

aside {
    width: 25rem;
    margin: var(--margin);
    padding: var(--padding);
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: var(--background-color, #eee);
    color: var(--text-color, #333);
    text-align: var(--align-text-center);
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: var(--align-text-center);
}
